.plancardContainer{
    background-color: #f8fbfd;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
    border: none;
    outline: none;
    box-shadow: 0px 1px 3px #629DD4;
    width: 30%;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
.plancardContainer:hover{
    transform: scale(1.01);
}
.plancardContainer .caption{
    height: 50px;
}
.plancardContainer h2{
    font-size: 32px;
}
.priceContainer{
    display: flex;
    gap: 6px;
    align-items:baseline;
}
.priceContainer h1{
    color: #3A7ABD;
    font-size: 46px;
}
.priceContainer p{
    color: #98A8B3;
}
.plancardContainer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 240px;
}
.plancardContainer ul li{
    margin-bottom: 6px;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.plancardContainer button{
    color: #244779;
    background-color: #f8fbfd;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid #244779;
    border-radius: 30px;
    padding: 15px 10px;
    transition: transform 0.1s ease-in-out;
}
.plancardContainer button:hover{
    box-shadow: #1756af 0px 5px 15px;
    background-color: #5d8ccd;
    border: none;
    color: #FFFFFF;
    transform: scale(1.02);
}

@media screen and (max-width:1000px) {
    .plancardContainer{
        width: 50%;
    }
}
@media screen and (max-width:800px) {
    .plancardContainer{
        width: 70%;
    }
}
@media screen and (max-width:550px) {
    .plancardContainer{
        width: 90%;
    }
}
@media screen and (max-width:400px) {
    .plancardContainer{
        width: 100%;
    }
    .plancardContainer .caption{
        font-size: 12px;
    }
    .plancardContainer h2{
        font-size: 22px;
    }
    .priceContainer h1{
        font-size: 26px;
    }
    .priceContainer p{
        font-size: 12px;
    }
    .plancardContainer ul{
        height: 220px;
    }
    .plancardContainer ul li{
        margin-bottom: 1px;
        font-size: 13px;
        gap: 5px;
    }
    .plancardContainer ul li span{
        height: 25px;
    }
    .plancardContainer button{
        font-size: 8px;
        padding: 5px 10px;
    }
}